# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Streamlit
.streamlit/secrets.toml
.streamlit/credentials.toml

# System & Junk
.DS_Store
.cache/
.config/
.local/
.bash_history
app_db.json
large_test_file.txt
test.txt
